/* FONT STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: Poppins, sans-serif;
    background: #e9e3d3;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
    left: 0px;
}

#header-logo {
    font-size: 2.5rem;
    margin-left: 30px;
}

#logo-color {
    color: #ed4f4f;
}

header > nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    list-style-type: none;
    width: 120px;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.inactive {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.inactive:hover {
    background: #dbd3c1;
}

.inactive::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
    transform: translateY(-60px);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;

}

.inactive:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
    transform: translateY(0px);
}


.active {
    background: #dbd3c1;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
}

#contact-btn {
    margin: 0 50px;
    background: #ed4f4f;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: .8rem;
}


/* HERO SECTION */
#hero-section {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    /* position: relative; */
}

#hero-image {
    height: 600px;
}

#hero-text {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -50px;
    height: 400px;
}

.intro {
    font-size: 3.4rem;
    line-height: 100px;
}

.name {
    font-size: 13rem;
    line-height: 125px;
}

.red {
    color: #ed4f4f;
}

#hero-doodle {
    position: absolute;
    bottom: -90px;
    right: -50px;
    width: 450px;
    height: auto;
}
