/* FONT STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: Poppins, sans-serif;
    background: #e9e3d3;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
    left: 0px;
    background: #e9e3d3;
    z-index: 999;
}

#header-logo {
    font-size: 2.5rem;
    margin-left: 30px;
    color: black;
    text-decoration: none;
}

#logo-color {
    color: #ed4f4f;
}

header > nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    list-style-type: none;
    width: 120px;
    height: 60px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.inactive {
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.inactive:hover {
    background: #dbd3c1;
}

.inactive::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
    transform: translateY(-60px);
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    z-index: -1;

}

.inactive:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
    transform: translateY(0px);
    z-index: -1;
}


.active {
    background: #dbd3c1;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: #c4baa7;
}

#contact-btn {
    margin: 0 50px;
    background: #ed4f4f;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: .8rem;
}

/* HERO SECTION */
#hero-section {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    /* position: relative; */
}

#hero-image {
    height: 40vw;
}

#hero-text {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -3vw;
    max-height: 400px;
}

.intro {
    font-size: 3.6vw;
    line-height: 8vw;
}

.name {
    font-size: 13.8vw;
    line-height: 8vw;
}

.red {
    color: #ed4f4f;
}

#hero-doodle {
    position: absolute;
    bottom: -30%;
    right: -8%;
    /* width: 450px; */
    width: 30vw;
    height: auto;
}

/* ABOUT SECTION */

#about-section {
    padding: 5vw;
    display: flex;
    justify-content: center;
    gap: 80px;
}

#about-text-container {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
    min-width: 500px;
}

#about-heading-container {
    position: relative;
    width: max-content;
}

#about-mark {
    position: absolute;
    top: 0px;
    right: -90px;
    height: auto;
    width: 80px;
}

#about-heading {
    font-size: 4rem;
    text-wrap: nowrap;
}

#about-text {
    font-size: 1.3rem;
}

#about-image-container {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    min-width: 420px;
}

.about-image {
    width: 16vw;
    min-width: 200px;
    height: 16vw;
    min-height: 200px;
    border-radius: 15px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    position: relative;
    overflow: hidden;
}

.about-image:hover {
    transform: scale(1.05);
}

.about-image::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5vw;
    width: 100%;
    background: rgba(1, 150, 229, 0.8);
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.about-description {
    color: white;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    z-index: 1;
    font-size: .9rem;
    display: none;
}

.about-image:hover::after {
    transform: translateX(0%);
    opacity: 1;
}

#about-img1 {
    background: url("resources/photos/about-img-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-img2 {
    background: url("resources/photos/about-img-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-img3 {
    background: url("resources/photos/about-img-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-img4 {
    background: url("resources/photos/about-img-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* PORTFOLIO SECTION */
#portfolio-section {
    width: 100%;
    padding: 10vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 0px;
}

#portfolio-heading {
    font-size: 4rem;
    text-wrap: nowrap;
    line-height: 50px;
}

#portfolio-heading-support {
    font-size: 3.5vw;
    text-wrap: nowrap;
    margin-bottom: 60px;
    position: relative;
    top: 0;
    left: 0;
    width: max-content
}

.port-head {
    margin-left: 6.5vw;
}

#portfolio-heading-support::after {
    content: "";
    background-image: url(resources/photos/portfolio-underline.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    position: absolute;
    bottom: -25px;
    right: 0px;
    height: 50px;
    width: 12.5vw;
}

#portfolio-container {
    width: max-content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-self: center;
    font-size: 1.2vw;
}

.portfolio-element {
    background: lightgray;
    width: 18vw;
    height: 18vw;
    border-radius: 15px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    color: white;
    position: relative;
    overflow: hidden;
}

#portfolio-container a {
    text-decoration: none;
}

.port-text {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.portfolio-element:hover {
    transform: scale(1.1);

    .port-text {
        opacity: 1;
    }
}

.portfolio-element::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1, 150, 229, 0.8);
    z-index: -1;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.portfolio-element:hover::after {
    opacity: 1;
}

#port-1 {
    background: rgb(1, 1, 26);
    background-image: url(resources/photos/port-img-1.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100% auto;
}

#port-2 {
    background: white;
    background-image: url(resources/photos/port-img-2.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100% auto;
}